.modal1 {
  position: fixed;
  top: 600;
  right: 200px;
  left: 0;
  z-index: 99;
  float: left;
  opacity: 0;
}
.modal1:hover {
  position: absolute;
  top: 40px;
  left: 200px;
  z-index: 99;
  float: left;
  opacity: 1;
  width: 380px;
}
.none {
  width: 165px;
  height: 20px;
  display: flex;
  position: absolute;
  top: -30px;
  left: 28px;
  background: red;
}

.modal1 > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  animation: modal1-show 0.3s;
  overflow: hidden;
}
.modal1 > section > header {
  position: relative;
  padding: 5px 64px 5px 16px;
  font-weight: 700;
  box-sizing: border-box;
}
.modal1 > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal1 > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  font-size: 13px;
  border: none;
}
.modal1.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}

@media (max-width: 900px) {
  .modal1 {
    display: none;
    position: fixed;
    top: 0;
    right: 433px;
    bottom: 510px;
    left: 0;
    z-index: 99;
  }
}
@media (max-width: 560px) {
  .modal1 {
    bottom: 410px;
    right: 200px;
  }
}
