/* --------HEAD-------- */
.App-logo {
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.z-index {
  z-index: -5;
}
.logo {
  height: 150px;
  width: 100px;
  cursor: pointer;
  opacity: 0.7;
}

.HeadContainer {
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.LeftBlock {
  width: auto;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: left;
}
.LeftFlex {
  margin-right: 2vw;
  cursor: pointer;
}

.RightBlock {
  width: auto;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
}
.TextRight {
  font-size: 15px;
  margin-right: 2vw;
  cursor: pointer;
}
.RightPrint {
  display: flex;
  align-items: center;
}
/* --------MAIN-------- */
.MainConainer {
  background-image: url("../public/img/MAIN.jpeg");
  background-size: cover;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BtnContainer {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FacebookBtn {
  background: #3b5998;
  color: white;
  width: 300px;
  font-size: 16px;
  line-height: 30px;
  padding: 3px 8px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: thin solid black;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}
.GoogleBtn {
  display: block;
  background: white;
  color: #f76707;
  width: 300px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  font-size: 16px;
  line-height: 30px;
  padding: 3px 8px;
  margin-top: 7px;
  cursor: pointer;
}
.TextBlock {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: white;
}
.TextBlockB {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #e64980;
}
.CreateInput {
  position: relative;
  width: 300px;
  height: 37.5px;
  background: white;
  color: #868e96;
  border-radius: 5px;
  border: none;
  white-space: nowrap;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.ContinueBtn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4dabf7;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  margin-top: 17px;
  margin-bottom: 10px;
  cursor: pointer;
}
.InputStyle {
  border: none;
  width: 200px;
  padding-left: 20px;
}
.NewInformationBlock {
  width: 100%;
  height: 30px;
  background: #ffdeeb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.VscMail {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 80%;
}
.signupBtn {
  background: #c3fae8;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: #868e96;
}
.signupBtn:active {
  background: #38d9a9;
}
/*--------FOOTER--------*/
.FooterMainContainer {
  width: 100%;
  height: 100%;
  background: #e9ecef;
}
.TextBlockA {
  font-size: 50px;
  text-align: center;
  color: black;
  margin-bottom: 50px;
  padding-top: 15px;
}
.IconContaner {
  display: flex;
  flex-direction: row;
  background: #e9ecef;
}
.Whatever {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.GiMagnifyingGlass {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.GiAlliedStar {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RiMoneyDollarCircleLine {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RiPrinterLine {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FooterTextBlock {
  font-size: 19px;
  text-align: center;
  padding-bottom: 15px;
  font-weight: bold;
}
.FooterClick {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.AiOutLine:hover {
  transform: rotate(180deg);
  animation: rotation 0.15s linear;
  cursor: pointer;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.FooterBottom {
  width: 100%;
  height: 300px;
  border-top: 2px solid #ced4da;
  box-sizing: border-box;
}
.FooterBottomContainer {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.FooterBottomInformation {
  width: 13%;
  margin-right: 5px;
  box-sizing: border-box;
  margin-top: 40px;
  line-height: 160%;
}
.footerBottomLogoWhat {
  cursor: pointer;
}
.FooterBottomLogoBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-bottom: 2px solid #ced4da;
}
.DownloadAppBlock {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TwitterLogoBlock {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SelectBlock {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FooterBottomTextContainer {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  padding-bottom: 15px;
  animation: FooterAnimation 0.3s;
}
.FooterBottomTextInformation {
  font-size: 17px;
  width: 36%;
  float: left;
}
.footerBottomClickedText {
  line-height: 160%;
  font-size: 17px;
  cursor: pointer;
}
.FootBottomInput {
  margin-top: 10px;
  width: 250px;
  height: 20px;
}
.Footerlogo {
  height: 180px;
  width: 100px;
  cursor: pointer;
  opacity: 0.7;
}
.FooterAppLogo {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
}
.FooterLast {
  margin-bottom: 20px;
}
@keyframes FooterAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

/*-----------modal-------------*/
.modal {
  cursor: default;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 5px 64px 5px 16px;
  font-weight: 700;
  box-sizing: border-box;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  font-size: 13px;
  border: none;
}
.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}

/*어쩔모달~ 저쩔npm~*/
.modal1 {
  cursor: default;
}
.modal1 > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  animation: modal1-show 0.3s;
  overflow: hidden;
}
.modal1 > section > header {
  position: relative;
  padding: 5px 64px 5px 16px;
  font-weight: 700;
  box-sizing: border-box;
}
.modal1 > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal1 > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  font-size: 13px;
  border: none;
}
.modal1.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}
.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 450px;
  left: -30px;
  top: 20px;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
/* 
.dropdown-content2 {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;
} */

.dropdown-content2 {
  display: none;
  position: absolute;
  width: 450px;
  top: 20px;
  left: -30px;
}

.dropdown:hover .dropdown-content2 {
  display: flex;
}

/**/
/*햄버거*/
aside {
  display: none;
}
.burger:not(.RightBlock):not(.HeadContainer) {
  z-index: 100;
  float: left;
  width: 800px;
  height: 100%;
  background: tomato;
}
/**/
/**/
/**/

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*-------------------------RESPONSIVE---------------------------*/
/*-----767size-----*/
@media screen and (max-width: 1023px) {
  .App-logo {
    display: none;
  }
  .FooterTextBlock {
    font-size: 15px;
  }
  .FooterBottomTextInformation {
    margin-left: 25px;
  }

  .FooterBottomTextContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
  .FooterBottomInformation {
    font-size: 13px;
  }
  .Footerlogo {
    width: 90px;
    height: 180px;
  }
  .FooterAppLogo {
    width: 22px;
    height: 22px;
  }
  .DownloadAppBlock {
    font-size: 13px;
  }
  .FootBottomInput {
    width: 160px;
  }
  .FooterBottomLogoBlock {
    height: 70px;
  }
  /*---모달 위치 조정하고 가실께요---*/
  /* .modal {
    position: absolute;
    top: 45px;
    left: -10px;
    z-index: 99;
    float: left;
    opacity: 0;
    width: 380px;
  }
  .modal1 {
    position: absolute;
    top: 45px;
    left: 40px;
    z-index: 99;
    float: left;
    opacity: 0;
    width: 380px;
  } */
}
/*-----500size-----*/
@media screen and (max-width: 766px) {
  .leftBlock {
    margin-left: 20px;
  }

  .NewTextBlock {
    font-size: 13px;
    width: 80px;
    float: left;
  }
  .TextLeft {
    font-size: 13px;
    width: 80px;
  }
  .MainConainer {
    background-size: unset;
    height: 540px;
  }
  .FooterTextBlock {
    font-size: 12px;
  }
  .IconContaner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .Whatever {
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
  }
  .FooterBottomTextContainer {
    margin-left: 20px;
    margin-right: 20px;
  }

  .FooterBottomTextInformation {
    margin-left: 15px;
    font-size: 13px;
  }

  .FooterBottomTextYes {
    font-size: 12px;
  }
  .FooterBottomInformation {
    font-size: 11px;
  }
  .Footerlogo {
    width: 70px;
    height: 150px;
  }
  .FooterAppLogo {
    width: 15px;
    height: 15px;
  }
  .DownloadAppBlock {
    font-size: 11px;
  }
  .FootBottomInput {
    width: 150px;
    margin-left: 20px;
  }
  .DownloadAppBlock {
    width: 30%;
  }
  .FooterTextBlock {
    font-size: 13px;
  }
  .FooterBottomInformation {
    font-size: 9px;
  }
  .Footerlogo {
    width: 55px;
    height: 100px;
  }
}

/*----562size 에서 rightBlock 안보이고 햄버거(빅맥)나오게---*/

@media screen and (max-width: 562px) {
  .RightBlock {
    display: none;
  }
  aside {
    display: flex;
  }
}
