/* --------HEAD-------- */
.App-logo {
  width: 40px;
  height: 30px;
}
.z-index {
  z-index: -5;
}
.logo {
  height: 150px;
  width: 100px;
  cursor: pointer;
  opacity: 0.7;
}

.HeadContainer {
  height: 45px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.LogoBlock {
  width: 40px;
  display: inline;
}
.NewTextBlock {
  width: 80px;
  font-size: 15px;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
.leftBlock {
  display: inline-block;
  margin-left: 380px;
}
.TextLeft {
  width: 130px;
  font-size: 15px;
  display: inline;
  margin-left: 20px;
}

/* --------MAIN-------- */
.MainConainer {
  background-image: url("../public/img/MAIN.jpeg");
  background-size: cover;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BtnContainer {
  width: 400px;
  height: 300px;
  box-sizing: border-box;
}
.FacebookBtn {
  background: #3b5998;
  color: white;
  width: 300px;
  font-size: 16px;
  line-height: 30px;
  padding: 3px 8px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: thin solid black;
  margin-left: 50px;
  margin-top: 5px;
  border: none;
}
.GoogleBtn {
  display: block;
  background: white;
  color: #f76707;
  width: 300px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  font-size: 16px;
  line-height: 30px;
  padding: 3px 8px;
  margin-left: 50px;
  margin-top: 7px;
}
.TextBlock {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: white;
}
.TextBlockB {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #e64980;
}
.CreateInput {
  width: 300px;
  background: white;
  color: #868e96;
  border-radius: 5px;
  border: none;
  white-space: nowrap;
  font-size: 16px;
  line-height: 30px;
  padding: 3px 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 50px;
}
.ContinueBtn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4dabf7;
  color: white;
  margin-left: 100px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
  border: none;
  margin-top: 17px;
  margin-bottom: 10px;
}
.InputStyle {
  border: none;
  width: 200px;
}
.NewInformationBlock {
  width: 100%;
  height: 30px;
  background: thistle;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.VscMail {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 37%;
}
/*--------FOOTER--------*/
.FooterMainContainer {
  width: 100%;
  height: 100%;
  background: #e9ecef;
}
.TextBlockA {
  font-size: 50px;
  text-align: center;
  color: black;
  margin-bottom: 50px;
  padding-top: 15px;
}
.IconContaner {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.GlassBlock {
  width: 25%;
  float: left;
  background: #e9ecef;
}
.StarBlock {
  width: 25%;
  float: left;
  background: #e9ecef;
}
.DollorBlock {
  width: 25%;
  float: left;
  background: #e9ecef;
}
.PrintBlock {
  width: 25%;
  float: left;
  background: #e9ecef;
}
.FooterTextBlock {
  font-size: 20px;
  text-align: center;
  padding-bottom: 15px;
  font-weight: bold;
}
.FooterClick {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.FooterBottom {
  width: 100%;
  height: 300px;
  border-top: 2px solid #ced4da;
  box-sizing: border-box;
}
.FooterBottomContainer {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.FooterBottomInformation {
  width: 13%;
  margin-right: 5px;
  box-sizing: border-box;
  margin-top: 40px;
  line-height: 160%;
}
.FooterBottomLogoBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  border-bottom: 2px solid #ced4da;
}
.DownloadAppBlock {
  width: 23%;
}
.TwitterLogoBlock {
  width: 23%;
  text-align: center;
}
.SelectBlock {
  width: 23%;
}
.FooterBottomTextContainer {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
}
.FooterBottomTextInformation {
  font-size: 17px;
  width: 36%;
  float: left;
}
.FooterBottomTextYes {
  line-height: 160%;
  font-size: 17px;
}
.FootBottomInput {
  margin-top: 10px;
  width: 250px;
  height: 20px;
}
.GiMagnifyingGlass {
  width: 40%;
  height: 10%;
  margin-left: 85px;
}
.Footerlogo {
  height: 180px;
  width: 100px;
  cursor: pointer;
  opacity: 0.7;
}
.FooterAppLogo {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
/*-----------modal-------------*/
.modal {
  position: fixed;
  top: 600;
  right: 780px;
  left: 0;
  z-index: 99;
  float: left;
  opacity: 0;
}
.modal:hover {
  position: absolute;
  top: 40px; /*responsive*/
  left: 30px; /*responsive*/
  z-index: 99;
  float: left;
  opacity: 1;
  width: 380px;
}
.none1 {
  display: inline;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 5px 64px 5px 16px;
  font-weight: 700;
  box-sizing: border-box;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  font-size: 13px;
  border: none;
}
.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}

/**/

.modal1 {
  position: fixed;
  top: 600;
  right: 200px;
  left: 0;
  z-index: 99;
  float: left;
  opacity: 0;
}
.modal1:hover {
  position: absolute;
  top: 40px;
  left: 80px;
  z-index: 99;
  float: left;
  opacity: 1;
  width: 380px;
}
.none {
  display: inline;
}

.modal1 > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  animation: modal1-show 0.3s;
  overflow: hidden;
}
.modal1 > section > header {
  position: relative;
  padding: 5px 64px 5px 16px;
  font-weight: 700;
  box-sizing: border-box;
}
.modal1 > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal1 > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  font-size: 13px;
  border: none;
}
.modal1.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}

@media (max-width: 900px) {
  .modal {
    display: none;
    position: fixed;
    top: 0;
    right: 433px;
    bottom: 510px;
    left: 0;
    z-index: 99;
  }
}

/*-------------------------RESPONSIVE---------------------------*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .App-logo {
    display: none;
  }
  .NewTextBlock {
    font-size: 13px;
    display: inline;
    padding-top: 50px;
    box-sizing: content-box;
  }
  .leftBlock {
    margin-left: 29vw;
  }
  .TextLeft {
    font-size: 13px;
    margin-left: 20px;
    width: 100px;
  }
  .VscMail {
    width: 3vw;
    height: 3vw;
    position: absolute;
    right: 36%;
  }
  .FooterTextBlock {
    font-size: 15px;
  }
  .IconContaner {
    margin-left: 0px;
    margin-right: 0px;
  }
  .GiMagnifyingGlass {
    width: 30%;
    height: 10%;
    margin-left: 80px;
  }
  .FooterBottomTextInformation {
    margin-left: 25px;
  }

  .FooterBottomTextContainer {
    margin-left: 50px;
    margin-right: 50px;
  }
  .FooterBottomInformation {
    font-size: 13px;
  }
  .Footerlogo {
    width: 90px;
    height: 180px;
  }
  .FooterAppLogo {
    width: 22px;
    height: 22px;
  }
  .DownloadAppBlock {
    font-size: 13px;
  }
  .FootBottomInput {
    width: 200px;
    margin-left: 50px;
  }
}

@media all and (max-width: 767px) {
  .App-logo {
    display: none;
  }
  /* .HeadContainer {
    display: flex;
    justify-content: left;
    align-items: flex-end;
  } */
  .leftBlock {
    margin-left: 20px;
  }

  .NewTextBlock {
    font-size: 13px;
    width: 80px;
    float: left;
  }
  .TextLeft {
    font-size: 13px;
    width: 80px;
  }
  .FooterTextBlock {
    font-size: 12px;
  }
  .GiMagnifyingGlass {
    width: 30%;
    height: 10%;
    margin-left: 50px;
  }
  .FooterBottomTextContainer {
    margin-left: 20px;
    margin-right: 20px;
  }

  .FooterBottomTextInformation {
    margin-left: 15px;
    font-size: 13px;
  }

  .FooterBottomTextYes {
    font-size: 12px;
  }
  .FooterBottomInformation {
    font-size: 11px;
  }
  .Footerlogo {
    width: 70px;
    height: 150px;
  }
  .FooterAppLogo {
    width: 15px;
    height: 15px;
  }
  .DownloadAppBlock {
    font-size: 11px;
  }
  .FootBottomInput {
    width: 150px;
    margin-left: 20px;
  }
  .DownloadAppBlock {
    width: 30%;
  }
}
